AddType text/cache-manifest .mf

AddDefaultCharset UTF-8

# URL Rewrite fu
Options +FollowSymLinks
Options -Indexes
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^$ requesthandlers/controller.php?page=route [NC,L]
RewriteRule ^route[/]?$ requesthandlers/controller.php?page=route [NC,L]
RewriteRule ^board[/]?$ requesthandlers/controller.php?page=board [NC,L]
RewriteRule ^settings[/]?$ requesthandlers/controller.php?page=settings [NC,L]
RewriteRule ^stations[/]?$ requesthandlers/controller.php?page=stations [NC,L]
</IfModule>

ErrorDocument 404 /requesthandlers/controller.php?page=error&message=Page%20not%20found
ErrorDocument 500 /requesthandlers/controller.php?page=error&message=Internal%20server%20error