/* 
    Document   : main
    Created on : Mar 14, 2011, 10:47:03 AM
    Author     : Mojo
    Description:
*/
/* RESET SCRIPT */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* END RESET SCRIPT */

root {display: block;}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-weight: bold;
}
.bckgroundDarkGrey{
    background-color: #6c7980;
}
.MainContainer{width: 100%}

/* BANNER */
.bannerContainer{
    height: 44px;
}
.bannerCubeContainerFixedLogo{
    font-size: 1.3em;
    color: #919699;
    width: 75px;
    height: 31px;
    float: left;
    text-align: center;
    padding-top: 10px
}
.bannerCubeContainerFixed{
    color: #919699;
    width: 80px;
    height: 31px;
    float: left;
    text-align: center;
    padding-top: 13px;
    border-left-color: #cccccc;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #cccccc;
    border-right-style: solid;
    border-right-width: 1px;
}
.bannerCubeContainerFixed.removeBorderLeft{
    border-left: 0px;
}

.bannerCubeContainerFixedSettings{
    color: #919699;
    width: 80px;
    height: 31px;
    float: right;
    text-align: center;
    padding-top: 13px;
}
.bannerCubeContainerScaleFill{
    height: 44px;
    width: 100%;
}

.bannerLinkActive{
    color: #000000;
    background-color: #cccccc;
}
/* END BANNER */

.searchContainer{background-color: #cccccc;width: 100%;clear: both;padding-bottom: 5px;}
.subMenuContainer{background-color: #cccccc;width: 100%;clear: both;}

.containerFrom{
    width: 100%;
    border-top-color: #cccccc;
    border-top-style: solid;
    border-top-width: 5px;
}

.fillDotLeft{
    background-color: #cccccc;
    width: 5px;
    float: left;
}

.fillDotRight{
    background-color: #cccccc;
    width: 5px;
    float: right;
}

.fromHeader{
    background-color: #ffffff;
    padding-left: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    margin-left: 5px;
    color: #cccccc;
    padding-top: 5px;
}

.toHeader{
    background-color: #ffffff;
    padding-left: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: #cccccc;
}

.listButton{
    background-color: #ffffff;
    width: 50px; /* Moet nog correct */
    float: right;

}
.buttonFav{
    background-color: #cccccc;
    width: 100%;
    height: 25px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}

.gradientBanner{
    background: #EAEAEA; /* old browsers */
    background: -moz-linear-gradient(top, #EAEAEA 1%, #FFFFFF 54%, #FFFFFF 99%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#EAEAEA), color-stop(54%,#FFFFFF), color-stop(99%,#FFFFFF)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAEAEA', endColorstr='#FFFFFF',GradientType=0 ); /* ie */
}



.inputFrom{
    background-color: #ffffff;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.inputTo{
    background-color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    height: 35px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
}


.inputTo input{
    border: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 10px;
    width: 90%;
}

.inputFrom input{
    border:0;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 90%;
}

.inputMid{
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 13.5px;
    border-top-color: #ffffff;
    border-top-style: solid;
    border-top-width: 13.5px;
    height: 3px;
    margin-left: 5px;
    margin-right: 5px;
}
.inputChange{
    float: right;
    height: 30px;
    width: 25px;
}

.dynamicGrey{
    height: 100%;
    width: 100%;
    background-color: #6c7980;
}


.Top{height: 29px;width: 100%;}
.Bot{height: 5px;width: 100%;}

.blackFlagColor{background-color: #000000;width: 25px;height: 100%;float: left;}
.yelFlagColor{background-color: #ffff00;width: 25px;height: 100%;float: left;}
.redFlagColor{background-color: #ff0033;width: 25px;height: 100%;float: left;}

.floatRight{
    float: right;
}

.containerButtons{
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    height: 30px;
}
.containerButtons.noMargins{
    margin-left: 0;
    margin-right: 0;
}

.buttonL.buttonActive{
    color: #ffffff;
    background-color: #6c7980;
}
.buttonR.buttonActive{
    color: #ffffff;
    background-color: #6c7980;
}

.buttonL{
    width: 100px;
    background-color: #aaafb2;
    float: left;
    height: 25px;
    font-weight: bold;
    color: #6c7980;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.buttonR{
    width: 100px;
    height: 25px;
    color: #6c7980;
    font-weight: bold;
    background-color: #aaafb2;
    float: right;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.subMenuBtnText{
    padding-top: 5px;
    padding-left: 15px;
    cursor: pointer;
}

.containerMenu{
    width: 100%;
    height: 30px;
}
.containerMenuRoutes{
    width: 100%;
    height: 25px;
}
.containerSubMenuDate{
    background-color: #6c7980;
    border-bottom-color: #848f94;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.containerSubMenuTime{
    background-color: #6c7980;
}
.containerSubMenuBtn{
    background-color: #6c7980;
}
.centerDiv{
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 260px;
}

.centerDivBtn{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 180px;
}
.gradientBtnSearch{
    background: #FF0000; /* old browsers */
    background: -moz-linear-gradient(top, #FF0000 0%, #444444 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF0000), color-stop(100%,#444444)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#444444',GradientType=0 ); /* ie */
}
.gradientBtnLogin{
    background: #D1D1D1; /* old browsers */
    background: -moz-linear-gradient(top, #D1D1D1 0%, #8E8E8E 14%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D1D1D1), color-stop(14%,#8E8E8E)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D1D1D1', endColorstr='#8E8E8E',GradientType=0 ); /* ie */
}

.Btn{
    width: 170px;
    height: 45px;
    border: #606c72 solid 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 5px;
    font-size: 1.2em;
}

a{
    text-decoration: none;
}

.inputStyle{
    font-weight:  bold;
}

.selectFont{
    font-size: 1.3em;
    padding: 3px;
    /* When used u cannot change the arrow from the select element without using js, using js it wont work in IE and on some phones.(usability != good) */
    /*    border: #ffffff solid 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;*/
}

.autoBox{
    height: 25px;
    background-color: #ffffff;
    padding-left: 10px;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #732617;
}

.autoCmpleteto{
    position: absolute;
    width: 90%;
    margin-left: -5px;
}
.autoCmpletefrom{
    margin-top: 13px;
    position: absolute;
    width: 90%;
    margin-left: -5px;
}
.autoCmpleteBorderfrom{
    border: #cccccc solid 5px;
    margin-top: 13px;
    position: absolute;
    width: 90%;
    margin-left: -5px;
}
.autoCmpleteBorderto{
    border: #cccccc solid 5px;
    position: absolute;
    width: 90%;
    margin-top: 9px;
    margin-left: -5px;
}

.pointer{
    cursor: pointer;
}

.containerHeader{
    color: #545e63;
    padding: 10px;
    padding-right: 0px;
}

.containerButtonsFav{
    height: 30px;
    width: 310px;
}
.favButtonL{
    float: left;
    width: 100px;
    height: 25px;
    color: #6c7980;
    font-weight: bold;
    background-color: #aaafb2;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding-top: 5px;
}
.favButtonR{
    width: 100px;
    height: 25px;
    color: #6c7980;
    font-weight: bold;
    background-color: #aaafb2;
    float: right;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding-top: 5px;
}
.favButtonMid{
    margin-left: auto;
    margin-right: auto;
    height: 25px;
    color: #6c7980;
    font-weight: bold;
    background-color: #aaafb2;
    width: 100px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding-top: 5px;
}
.favButtonActive{
    color: #000000;
    background-color: #ffffff
}

.containerResults{
    background-color: #ffffff;
    color: #00527a;
    width: 100%;
    padding-top: 10px;
}

.containerResultsBoxBlue{
    background-color: #dbdbdb;
    height: 60px;
}
.containerResultsBoxWhite{
    background-color: #ffffff;
    height: 60px;
}


.settingsButtonL.buttonActive{
    color: #ffffff;
    background-color: #6c7980;
}
.settingsButtonR.buttonActive{
    color: #ffffff;
    background-color: #6c7980;
}

.settingsButtonL{
    text-align: center;
    width: 100px;
    height: 25px;
    color: #000000;
    font-weight: bold;
    background-color: #919699;
    float: left;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 5px;
}
.settingsButtonR{
    text-align: center;
    width: 100px;
    height: 25px;
    color: #000000;
    font-weight: bold;
    background-color: #919699;
    float: right;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 5px;
}

.headerText{
    padding-left: 10px;
    padding-top: 5px;
    background-color: #6C7980;
    color: #CCCCCC;
    text-align: center;
}

.inputFieldLogin{
    clear: both;
    margin-left: 5px;
    margin-right: 20px;
}

.width100{
    width: 100%;
}

input[type="text"]{
    padding: 5px;
}
input[type="password"]{
    padding: 5px;
}

input {
    border:1px solid #666666;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.removePadding{
    padding 0;
}

/* 404 style */
.bckgroundDarkBlue{
    background-color: #00527a;
}
.err404banner{
    height: 40px;
    background-color: #c1e8fb;
}
.err404logo{
    color: #00527a;
    padding: 5px;
    font-size: 1.5em;
    float: left;
}
.err404scaleBlue{
    background-color: #c1e8fb;
    width: 100%;
}

.err404container{
    background-image: url('../images/fill.png');
    height: 170px;
    background-repeat: repeat-x;
     width: 100%;
}
.err404train{
    background-image: url('../images/trein.png');
    width: 172px;
    height: 170px;
    float: left;
}

.err404text{
    color: #ffffff;
    padding: 15px;
    font-weight: normal;
    font-size: 0.8em;
}

.err404h1{
    font-size: 1.3em;
    font-weight: bold;
}

.err404underline{
    text-decoration: underline;
}

.err404text a{
    color: #ffffff;
}
/* end 404 style */